# When only one tool relies on a dependency, it should generally be annotated
# here.  monitorlib is not a tool for this purpose.

# When adding a dependency, the version should usually be specified exactly to
# avoid breakages when new versions are released.

aiohttp==3.9.0
arrow==1.1.0
bc-jsonpath-ng==1.5.9  # uss_qualifier
cryptography==41.0.6
faker===8.1.0  # uss_qualifier
flask==2.3.3
geojson===2.5.0  # uss_qualifier
gevent==22.10.2  # mock_uss / gunicorn worker
google-auth==1.6.3
graphviz==0.20.1  # uss_qualifier
gunicorn==20.1.0
implicitdict==2.3.0
jsonschema==4.17.3  # uss_qualifier
jwcrypto==1.4
kubernetes==23.3.0  # deployment_manager
locust==1.2.2  # loadtest
loguru==0.6.0
lxml==4.9.1
marko==1.2.2  # uss_qualifier
numpy==1.24.4
pem==21.2.0  # deployment_manager
pvlib==0.10.1
pyjwt==2.4.0
pykml==0.2.0
pyopenssl  # No specific version target because we always want the latest SSL/TLS support
pyproj==3.4.1  # uss_qualifier
pytest==6.2.4
pytest-mock==3.6.1
pyyaml==6.0.1
requests==2.31.0
s2sphere==0.2.5
scipy==1.10.1
shapely==1.7.1
structlog==21.5.0  # deployment_manager
termcolor==1.1.0
uas_standards==3.0.0
