# The resources in this file describe the system/environment under test and should not change the test being run.
# This file defines the environment use to verify releases on a deployment of two DSSs pooled in two different clouds.

# ===== Auth =====

utm_auth:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.communications.AuthAdapterResource
  specification:
    environment_variable_containing_auth_spec: AUTH_SPEC
    scopes_authorized:
      # InterUSS RIDv1 automated testing API
      - rid.inject_test_data
      - dss.read.identification_service_areas
      # ASTM F3411-22a USS emulation roles
      - rid.service_provider
      - rid.display_provider
      # ASTM F3411-19 USS emulation roles
      - dss.write.identification_service_areas
      - dss.read.identification_service_areas
      # InterUSS flight_planning v1 automated testing API
      - interuss.flight_planning.direct_automated_test
      - interuss.flight_planning.plan
      # Legacy InterUSS scd injection v1 automated testing API
      - utm.inject_test_data
      # ASTM F3548-21 USS emulation roles
      - utm.strategic_coordination
      - utm.conformance_monitoring_sa
      - utm.availability_arbitration
      # InterUSS versioning automated testing
      - interuss.versioning.read_system_versions

second_utm_auth:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.communications.AuthAdapterResource
  specification:
    environment_variable_containing_auth_spec: AUTH_SPEC_2
    scopes_authorized:
      - utm.strategic_coordination

utm_client_identity:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.communications.ClientIdentityResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    whoami_audience: localhost
    whoami_scope: rid.display_provider

# ===== NetRID =====

netrid_dss_instances_v19:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3411.DSSInstancesResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    dss_instances:
      - participant_id: uss1
        rid_version: F3411-19
        base_url: https://dss.ci.google-interuss.uspace.dev
        has_private_address: false
      - participant_id: uss2
        rid_version: F3411-19
        base_url: https://dss.ci.aws-interuss.uspace.dev
        has_private_address: false

netrid_dss_instances_v22a:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3411.DSSInstancesResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    dss_instances:
      - participant_id: uss1
        rid_version: F3411-22a
        base_url: https://dss.ci.google-interuss.uspace.dev/rid/v2
        has_private_address: false
      - participant_id: uss2
        rid_version: F3411-22a
        base_url: https://dss.ci.aws-interuss.uspace.dev/rid/v2
        has_private_address: false

# ===== F3548 =====

scd_dss:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3548.v21.DSSInstanceResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    participant_id: uss1
    base_url: https://dss.ci.google-interuss.uspace.dev
    has_private_address: false

scd_dss_instances:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3548.v21.DSSInstancesResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    dss_instances:
      - participant_id: uss1
        base_url: https://dss.ci.google-interuss.uspace.dev
        has_private_address: false
      - participant_id: uss2
        base_url: https://dss.ci.aws-interuss.uspace.dev
        has_private_address: false

dss_crdb_cluster:
  $content_schema: monitoring/uss_qualifier/resources/interuss/crdb/crdb/CockroachDBClusterResource.json
  resource_type: resources.interuss.crdb.crdb.CockroachDBClusterResource
  specification:
    nodes:
      - participant_id: uss1
        host: 0.db.ci.google-interuss.uspace.dev
        port: 26257
      - participant_id: uss1
        host: 1.db.ci.google-interuss.uspace.dev
        port: 26257
      - participant_id: uss1
        host: 2.db.ci.google-interuss.uspace.dev
        port: 26257
      - participant_id: uss2
        host: 0.db.ci.aws-interuss.uspace.dev
        port: 26257
      - participant_id: uss2
        host: 1.db.ci.aws-interuss.uspace.dev
        port: 26257
      - participant_id: uss2
        host: 2.db.ci.aws-interuss.uspace.dev
        port: 26257

