<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login - mock_uss</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div>
    <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}
<div>
  <form action="{{ url_for('ui_login_usernamepassword') }}" method="post">
    <p>
      <label for="username">User name:</label>
      <input type="text" id="username" name="username" size="40">
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" size="40">
    </p>
    <p>
      <input type="submit" value="Log in">
    </p>
  </form>
</div>
</body>
</html>
