name: Continuous integration
on:
  pull_request: # All
  push:
    branches:
    - main
jobs:
  hygiene-tests:
    name: Repository hygiene
    runs-on: ubuntu-latest
    steps:
    - name: Job information
      run: |
        echo "Job information"
        echo "Trigger: ${{ github.event_name }}"
        echo "Host: ${{ runner.os }}"
        echo "Repository: ${{ github.repository }}"
        echo "Branch: ${{ github.ref }}"
        docker images
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Python lint
      run: make python-lint
    - name: Automated hygiene verification
      run: make check-hygiene
    - name: uss_qualifier documentation validation
      run: make validate-uss-qualifier-docs
    - name: Shell lint
      run: make shell-lint

  monitoring-tests:
    name: monitoring tests
    runs-on: ubuntu-latest
    steps:
    - name: Job information
      run: |
        echo "Job information"
        echo "Trigger: ${{ github.event_name }}"
        echo "Host: ${{ runner.os }}"
        echo "Repository: ${{ github.repository }}"
        echo "Branch: ${{ github.ref }}"
        docker images
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: monitorlib tests
      run: |
        cd monitoring/monitorlib
        make test
    - name: mock_uss tests
      run: |
        cd monitoring/mock_uss
        make test
    - name: uss_qualifier tests
      run: |
        cd monitoring/uss_qualifier
        make test
    - uses: actions/upload-artifact@v3
      with:
        name: monitoring-tests-logs
        path: logs
    - uses: actions/upload-artifact@v3
      with:
        name: monitoring-tests-tracer-logs
        path: monitoring/mock_uss/tracer/logs
