# The resources in this file describe the system/environment under test and should not change the test being run.
# This file assumes the use of a host-machine local environment.

# ===== Auth =====

utm_auth:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.communications.AuthAdapterResource
  specification:
    environment_variable_containing_auth_spec: AUTH_SPEC

second_utm_auth:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.communications.AuthAdapterResource
  specification:
    environment_variable_containing_auth_spec: AUTH_SPEC_2

utm_client_identity:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.communications.ClientIdentityResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    whoami_audience: localhost
    whoami_scope: rid.display_provider

# ===== NetRID =====

netrid_service_providers_v19:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.netrid.NetRIDServiceProviders
  dependencies:
    auth_adapter: utm_auth
  specification:
    service_providers:
      - participant_id: uss2
        injection_base_url: http://localhost:8071/ridsp/injection
        local_debug: true

netrid_service_providers_v22a:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.netrid.NetRIDServiceProviders
  dependencies:
    auth_adapter: utm_auth
  specification:
    service_providers:
      - participant_id: uss1
        injection_base_url: http://localhost:8081/ridsp/injection
        local_debug: true

netrid_observers_v19:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.netrid.NetRIDObserversResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    observers:
      - participant_id: uss3
        observation_base_url: http://localhost:8073/riddp/observation
        local_debug: true

netrid_observers_v22a:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.netrid.NetRIDObserversResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    observers:
      - participant_id: uss1
        observation_base_url: http://localhost:8083/riddp/observation
        local_debug: true

netrid_dss_instances_v19:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3411.DSSInstancesResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    dss_instances:
      - participant_id: uss1
        rid_version: F3411-19
        base_url: http://localhost:8082
        has_private_address: true
      - participant_id: uss2
        rid_version: F3411-19
        base_url: http://localhost:8082
        has_private_address: true

netrid_dss_instances_v22a:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3411.DSSInstancesResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    dss_instances:
      - participant_id: uss1
        rid_version: F3411-22a
        base_url: http://localhost:8082/rid/v2
        has_private_address: true
      - participant_id: uss2
        rid_version: F3411-22a
        base_url: http://localhost:8082/rid/v2
        has_private_address: true

netrid_dss_instance_v19:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3411.DSSInstanceResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    participant_id: uss1
    rid_version: F3411-19
    base_url: http://localhost:8082
    has_private_address: true

netrid_dss_instance_v22a:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3411.DSSInstanceResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    participant_id: uss1
    rid_version: F3411-22a
    base_url: http://localhost:8082/rid/v2
    has_private_address: true

# ===== Flight planning =====

all_flight_planners:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.flight_planning.FlightPlannersResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    flight_planners:
      - participant_id: uss1
        scd_injection_base_url: http://localhost:8074/scdsc
        local_debug: true

      - participant_id: uss2
        scd_injection_base_url: http://localhost:8094/scdsc
        local_debug: true

uss1_flight_planner:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.flight_planning.FlightPlannerResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    flight_planner:
      participant_id: uss1
      scd_injection_base_url: http://localhost:8074/scdsc
      local_debug: true

uss2_flight_planner:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.flight_planning.FlightPlannerResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    flight_planner:
      participant_id: uss2
      scd_injection_base_url: http://localhost:8094/scdsc
      local_debug: true

# ===== F3548 =====

scd_dss:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3548.v21.DSSInstanceResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    participant_id: uss1
    base_url: http://localhost:8082
    has_private_address: true

scd_dss_instances:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3548.v21.DSSInstancesResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    dss_instances:
      - participant_id: uss1
        base_url: http://localhost:8082
        has_private_address: true
      - participant_id: uss2
        base_url: http://localhost:8082
        has_private_address: true

# ===== mock_uss instances =====

mock_uss_instance_uss1:
  resource_type: resources.interuss.mock_uss.client.MockUSSResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    participant_id: mock_uss
    mock_uss_base_url: http://localhost:8074

mock_uss_instance_uss6:
  resource_type: resources.interuss.mock_uss.client.MockUSSResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    participant_id: mock_uss
    mock_uss_base_url: http://localhost:8095

mock_uss_instances_scdsc:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.interuss.mock_uss.client.MockUSSsResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    instances:
      - mock_uss_base_url: http://localhost:8074
        participant_id: uss1
      - mock_uss_base_url: http://localhost:8094
        participant_id: uss2

# ===== System versioning =====

scd_version_providers:
  resource_type: resources.versioning.VersionProvidersResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    instances:
      - participant_id: uss1
        interuss:
          base_url: http://localhost:8074/versioning
      - participant_id: uss2
        interuss:
          base_url: http://localhost:8094/versioning
