# The resources in this file describe the system/environment under test and should not change the test being run.
# This file assumes the use of a container-based local environment.

# ===== Auth =====

utm_auth:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.communications.AuthAdapterResource
  specification:
    environment_variable_containing_auth_spec: AUTH_SPEC
    scopes_authorized:
      # InterUSS RIDv1 automated testing API
      - rid.inject_test_data
      - dss.read.identification_service_areas
      # ASTM F3411-22a USS emulation roles
      - rid.service_provider
      - rid.display_provider
      # ASTM F3411-19 USS emulation roles
      - dss.write.identification_service_areas
      - dss.read.identification_service_areas
      # InterUSS flight_planning v1 automated testing API
      - interuss.flight_planning.direct_automated_test
      - interuss.flight_planning.plan
      # Legacy InterUSS scd injection v1 automated testing API
      - utm.inject_test_data
      # ASTM F3548-21 USS emulation roles
      - utm.strategic_coordination
      - utm.conformance_monitoring_sa
      - utm.availability_arbitration
      # InterUSS versioning automated testing
      - interuss.versioning.read_system_versions
      - interuss.geospatial_map.query
      # For authentication test purposes.
      # Remove if the authentication provider pointed to by AUTH_SPEC does not support it.
      - ""

second_utm_auth:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.communications.AuthAdapterResource
  specification:
    environment_variable_containing_auth_spec: AUTH_SPEC_2
    scopes_authorized:
      - utm.strategic_coordination

utm_client_identity:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.communications.ClientIdentityResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    whoami_audience: localhost
    whoami_scope: rid.display_provider

# ===== NetRID =====

netrid_service_providers_v19:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.netrid.NetRIDServiceProviders
  dependencies:
    auth_adapter: utm_auth
  specification:
    service_providers:
      - participant_id: uss2
        injection_base_url: http://v19.ridsp.uss2.localutm/ridsp/injection
        local_debug: true

netrid_service_providers_v22a:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.netrid.NetRIDServiceProviders
  dependencies:
    auth_adapter: utm_auth
  specification:
    service_providers:
      - participant_id: uss1
        injection_base_url: http://v22a.ridsp.uss1.localutm/ridsp/injection
        local_debug: true

netrid_observers_v19:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.netrid.NetRIDObserversResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    observers:
      - participant_id: uss3
        observation_base_url: http://v19.riddp.uss3.localutm/riddp/observation
        local_debug: true

netrid_observers_v22a:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.netrid.NetRIDObserversResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    observers:
      - participant_id: uss1
        observation_base_url: http://v22a.riddp.uss1.localutm/riddp/observation
        local_debug: true

netrid_dss_instances_v19:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3411.DSSInstancesResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    dss_instances:
      - participant_id: uss1
        rid_version: F3411-19
        base_url: http://dss.uss1.localutm
        has_private_address: true
      - participant_id: uss2
        rid_version: F3411-19
        base_url: http://dss.uss2.localutm
        has_private_address: true

netrid_dss_instances_v22a:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3411.DSSInstancesResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    dss_instances:
      - participant_id: uss1
        rid_version: F3411-22a
        base_url: http://dss.uss1.localutm/rid/v2
        has_private_address: true
      - participant_id: uss2
        rid_version: F3411-22a
        base_url: http://dss.uss2.localutm/rid/v2
        has_private_address: true

netrid_dss_instance_v19:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3411.DSSInstanceResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    participant_id: uss1
    rid_version: F3411-19
    base_url: http://dss.uss1.localutm
    has_private_address: true

netrid_dss_instance_v22a:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3411.DSSInstanceResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    participant_id: uss1
    rid_version: F3411-22a
    base_url: http://dss.uss1.localutm/rid/v2
    has_private_address: true

# ===== Flight planning =====

all_flight_planners:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.flight_planning.FlightPlannersResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    flight_planners:
      - participant_id: uss1
        v1_base_url: http://scdsc.uss1.localutm/flight_planning/v1
        local_debug: true

      - participant_id: uss2
        scd_injection_base_url: http://scdsc.uss2.localutm/scdsc
        local_debug: true

uss1_flight_planner:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.flight_planning.FlightPlannerResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    flight_planner:
      participant_id: uss1
      v1_base_url: http://scdsc.uss1.localutm/flight_planning/v1
      local_debug: true

uss2_flight_planner:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.flight_planning.FlightPlannerResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    flight_planner:
      participant_id: uss2
      scd_injection_base_url: http://scdsc.uss2.localutm/scdsc
      local_debug: true

# ===== F3548 =====

scd_dss:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3548.v21.DSSInstanceResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    participant_id: uss1
    base_url: http://dss.uss1.localutm
    has_private_address: true

scd_dss_instances:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.astm.f3548.v21.DSSInstancesResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    dss_instances:
      - participant_id: uss1
        user_participant_ids:
          - mock_uss
        base_url: http://dss.uss1.localutm
        has_private_address: true
      - participant_id: uss2
        base_url: http://dss.uss2.localutm
        has_private_address: true

# ===== DSS CockroachDB nodes =====

dss_crdb_cluster:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.interuss.crdb.CockroachDBClusterResource
  specification:
    nodes:
      - participant_id: uss1
        host: crdb.uss1.localutm
        port: 26257

# ===== mock_uss instances =====

mock_uss_instance_uss1:
  resource_type: resources.interuss.mock_uss.client.MockUSSResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    participant_id: mock_uss
    mock_uss_base_url: http://scdsc.uss1.localutm

mock_uss_instance_uss6:
  resource_type: resources.interuss.mock_uss.client.MockUSSResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    participant_id: mock_uss
    mock_uss_base_url: http://scdsc.log.uss6.localutm

mock_uss_instances_scdsc:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.interuss.mock_uss.client.MockUSSsResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    instances:
      - mock_uss_base_url: http://scdsc.uss1.localutm
        participant_id: uss1
      - mock_uss_base_url: http://scdsc.uss2.localutm
        participant_id: uss2

# ===== System versioning =====

scd_version_providers:
  resource_type: resources.versioning.VersionProvidersResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    instances:
      - participant_id: uss1
        interuss:
          base_url: http://scdsc.uss1.localutm/versioning
      - participant_id: uss2
        interuss:
          base_url: http://scdsc.uss2.localutm/versioning

# ===== Geospatial map providers =====

geospatial_info_provider:
  $content_schema: monitoring/uss_qualifier/resources/definitions/ResourceDeclaration.json
  resource_type: resources.geospatial_info.GeospatialInfoProviderResource
  dependencies:
    auth_adapter: utm_auth
  specification:
    geospatial_info_provider:
      participant_id: uss1
      geospatial_map_v1_base_url: http://geoawareness.uss1.localutm/geospatial_map/v1
